@import "../../styles.scss";

.filter-container {
  margin-top: 100px;
  margin-left: 50px;
  background-color: $bc-dark-blue;
  width: 200px;

  ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: $bc-dark-goldenrod;
  }

  ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: $bc-dark-goldenrod;
  }

  ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: $bc-dark-goldenrod;
  }

  .search-form {
    .mat-form-field {
      .filter-label {
        color: $txt-c-input-placeholder;
      }
      .mat-input-element {
        caret-color: $txt-c-orange;
        color: $txt-c-white;
      }
      .mat-button {
        color: $txt-c-white;
      }
    }
  }
}

.habits-wrapper {
  width: 1200px;
  margin: 20px auto 0 auto;
  display: flex;
  flex-wrap: wrap;

  .example-button-row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: flex-end;

    .load-more-btn {
      background-color: $bc-orange;
      color: $txt-c-white;
    }

    .load-more-btn:hover {
      color: $txt-c-orange;
      background-color: $bc-white;
    }

    margin-bottom: 20px;
  }
}

.habits-wrapper {
  *:nth-child(3n) {
    ::ng-deep {
      .mat-card {
        margin-right: 0;
      }
    }
  }
}
