<div class="wrapper-login">
  <div class="login-container">
    <form class="form" [formGroup]="form" (ngSubmit)="submit()">
      <h2 class="form-title">SIGN IN</h2>
      <div class="form-container">
        <mat-form-field appearance="fill">
          <mat-label>Enter your email</mat-label>
          <input
            class="form-input"
            matInput
            placeholder="Enter your email"
            formControlName="email"
            required
          />
          <mat-hint
            class="error-hint"
            *ngIf="
              form.get('email').touched &&
              form.get('email').hasError('required')
            "
            >Edit email</mat-hint
          >
          <mat-hint
            class="error-hint"
            *ngIf="
              form.get('email').touched && form.get('email').hasError('email')
            "
            >Email must be email</mat-hint
          >
        </mat-form-field>
      </div>

      <div class="form-container">
        <mat-form-field appearance="fill">
          <mat-label>Enter your password</mat-label>
          <input
            class="form-input"
            [type]="hide ? 'password' : 'text'"
            matInput
            placeholder="Enter your password"
            formControlName="password"
            required
          />
          <button
            class="hide-password-btn"
            type="button"
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error
            *ngIf="
              form.get('password').touched &&
              form.get('password').errors?.required
            "
            >Edit password</mat-error
          >
          <mat-error
            *ngIf="
              form.get('password').touched &&
              form.get('password').errors?.minlength
            "
          >
            Password must be at least
            {{ form.get("password").errors.minlength.requiredLength }}
            characters. Now it is
            {{ form.get("password").errors.minlength.actualLength }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-container login-control">
        <button
          class="submit-btn"
          [ngClass]="{ disabled: form.invalid, 'disbled:hover': form.invalid }"
          type="submit"
          [disabled]="form.invalid || submitted"
        >
          Log In
        </button>
        <div class="google-btn">
          <div class="google-icon-wrapper">
            <img
              class="google-icon"
              src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"
            />
          </div>
          <button
            class="google-button"
            type="button"
            (click)="signInWithGoogle()"
          >
            <span class="btn-text"><b>Sign in with google</b></span>
          </button>
        </div>
        <p>Not registered, <a [routerLink]="['/registration']">sign up</a></p>
      </div>
    </form>
  </div>
</div>
