@import "../../../../styles.scss";

.card-container {
  width: 350px;
  height: 238px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
  margin-right: 15px;
  border: 2px solid bisque;
  box-shadow: 0 3px 10px bisque;
  .card-header {
    flex: 1 1 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .card-title {
      flex: 0 1 80%;
      height: 60px;
      line-height: 1.75rem;
      align-self: flex-start;
    }

    .card-actions {
      flex: 0 1 15%;
      align-self: flex-start;
      margin: 0;
      padding: 0;
    }

    .card-subtitle {
      flex: 0 1 50%;
    }
  }

  .card-content {
    flex: 0 1 100%;
  }
  .see-more-btn {
    height: 36px;
    color: $txt-c-white;
    background-color: $bc-btn-orange;
    box-shadow: 3px 3px 10px $sh-c-black;
    transition: all 0.1s ease-in-out;
  }
  .see-more-btn:hover {
    color: $txt-c-orange;
    background-color: $bc-white;
  }
}
.card-container-bg {
  width: 350px;
  height: 420px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
