@import "../../../../styles.scss";

// .card-container:nth-child(3n) {
//   margin-right: 0;
// }

.card-container {
  width: 358px;
  height: 238px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
  margin-right: 15px;
  .card-header {
    flex: 1 1 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .card-title {
      flex: 0 1 80%;
      height: 60px;
      line-height: 1.75rem;
      align-self: flex-start;
    }

    .card-actions {
      flex: 0 1 15%;
      align-self: flex-start;
      margin: 0;
      padding: 0;
    }

    .card-subtitle {
      flex: 0 1 50%;
      //   max-width: 50%;
    }
  }

  .card-content {
    flex: 0 1 100%;
  }
  .see-more-btn {
    display: flex;
    align-self: flex-end;
    background-color: $bc-orange;
  }
  .see-more-btn:hover {
    color: $txt-c-orange;
    background-color: $bc-white;
  }
}
.card-container-bg {
  width: 350px;
  height: 420px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
// .card-container:nth-of-type(3n) {
//   margin-right: 0;
// }
