<!-- Header -->
<div id="main-header" class="main-wrapper">
  <header class="main-header">
    <div>
      <span *ngIf="userData">Hello, {{ userData.firstName }}!</span>
    </div>
    <div class="main-header-title">
      <span class="main-header-text">My Habits</span>
    </div>
    <nav class="main-nav">
      <button
        mat-button
        [routerLink]="['/']"
        routerLinkActive="active"
        (click)="onClick()"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Home
      </button>
      <button mat-button>
        <a class="about-link" href="#about-section">About</a>
      </button>
      <button
        *ngIf="isLoggenIn"
        mat-button
        [routerLink]="['/habits']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Habits
      </button>
      <button
        *ngIf="!isLoggenIn"
        mat-button
        [routerLink]="['/login']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Log In
      </button>
      <button *ngIf="isLoggenIn" mat-button [matMenuTriggerFor]="beforeMenu">
        My Profile
      </button>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item [routerLink]="['/profile', userId]">
          View Profile
        </button>
        <button mat-menu-item [routerLink]="['/profile', userId, 'myhabits']">
          My habits
        </button>
        <button mat-menu-item (click)="logout()">Log Out</button>
      </mat-menu>
    </nav>
  </header>
  <main class="main">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </main>
  <!-- Footer -->
  <footer class="main-footer">
    <p class="copyright">&#169; Habits 2021</p>
  </footer>
</div>
