@import "../../../../styles.scss";

.main-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $bc-beige;
  .main-header {
    position: fixed;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 14px;
    background-color: #5a8100;
    .main-header-title {
      .main-header-text {
        margin-left: 70px;
        font-family: "Playball-Regular";
        font-size: 48px;
        color: $txt-c-beige;
        vertical-align: sub;
      }
    }
    .main-nav {
      margin-right: 10px;
      .active {
        color: $txt-c-beige;
      }
    }
  }

  .main {
    background-color: $bc-beige;
    background-image: url("../../../../assets/images/home-background.png");
    background-size: contain;
    .container {
      // margin-top: 100px;
    }
  }

  .main-footer {
    // height: 60px;
    padding: 20px 0;
    display: flex;
    align-items: center;
    background-color: $bc-green;
    .copyright {
      width: 100%;
      text-align: center;
      color: $txt-c-beige;
    }
  }

  .about-link {
    text-decoration: none;
    color: $txt-c-black;
  }
  .about-link:active {
    color: $txt-c-beige;
  }
}
