@import "../../../../styles.scss";

.main-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $bc-beige;
  .main-header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    background-color: $bc-green;
    .main-header-title {
      .main-header-text {
        margin-left: 245px;
        font-family: "Playball-Regular";
        font-size: 48px;
        color: $txt-c-beige;
        vertical-align: sub;
      }
    }
    .main-nav {
      .active {
        color: $txt-c-beige;
      }
    }
  }

  .main {
    height: 100%;
    background-color: $bc-beige;
    background-image: url("../../../../assets/images/home-background.png");
    .container{
      margin-top: 100px;
    }
  }

  .main-footer {
    height: 70px;
    display: flex;
    align-items: center;
    background-color: $bc-green;
    .copyright {
      width: 100%;
      text-align: center;
      color: $txt-c-beige;
    }
  }

  .about-link {
    text-decoration: none;
    color: $txt-c-black;
  }
  .about-link:active {
    color: $txt-c-beige;
  }
}
