@import "../../../../styles.scss";

.main-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $bc-dark-blue;
  .main-header {
    position: fixed;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 14px;
    color: $txt-c-white;
    background-color: $bc-dark-blue;
    border-bottom: 2px solid $bc-btn-orange;
    box-shadow: 0 5px 20px $bc-btn-orange;
    z-index: 100;
    .main-header-title {
      transform: translateX(50%);
      .main-header-text {
        font-family: "Playball-Regular";
        font-size: 48px;
        color: $txt-c-white;
        vertical-align: sub;
      }
    }
    .main-nav {
      margin-right: 10px;
      .mat-button {
        vertical-align: bottom;
      }
      .active {
        color: $txt-c-btn-orange;
      }
    }
  }

  .main {
    background-color: $bc-dark-blue;
    // background-image: url("../../../../assets/images/home-background.png");
    // background-size: contain;
    .container {
      // margin-top: 100px;
    }
  }

  .main-footer {
    // height: 60px;
    padding: 20px 0;
    display: flex;
    align-items: center;
    background-color: $bc-dark-blue;
    border-top: 1px solid $bc-btn-orange;
    box-shadow: 0 -2px 20px $bc-btn-orange;
    .copyright {
      width: 100%;
      text-align: center;
      color: $txt-c-white;
    }
  }

  .about-link {
    text-decoration: none;
    color: $txt-c-white;
  }
  .about-link:active {
    color: $txt-c-btn-orange;
  }
}
