@import "../../../../styles.scss";
.confirmatio-container{
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
.button-div{
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  .yes-btn{
    background-color: $bc-green;
  }
  button  {
    width: 100px;
   
  }
}
}