<div class="habit-form-wrapper">
  <h3>{{habit ? "Edit Habit" : "Add Habit"}} </h3>
  <form class="form" [formGroup]="form" (ngSubmit)="onSave()">
    <mat-form-field appearance="fill">
      <mat-label>Enter Habit title</mat-label>
      <input
        class="form-input"
        matInput
        placeholder="Enter habit title"
        required
        formControlName="title"
      />
      <mat-error
      *ngIf="
        form.get('title').touched &&
        form.get('title').errors?.minlength
      "
    >
      Title must be at least
      {{ form.get("title").errors.minlength.requiredLength }}
      characters. Now it is
      {{ form.get("title").errors.minlength.actualLength }}
    </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Type</mat-label>
      <mat-select  class= "select" formControlName="type">
        <mat-option  value="" disabled>Choose Habit Type</mat-option>
        <mat-option class="option" [value]="type" *ngFor="let type of types">{{type}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Frequency</mat-label>
      <mat-select formControlName="frequency">
        <mat-option value="" disabled>Choose Frequency</mat-option>
        <mat-option value="daily">Daily</mat-option>
        <mat-option value="weekly">Weekly</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <div class="btn-wrapper">
      <!-- *ngIf="userData && isEdit" -->
      <button
        class="habit-form-btn"
        type="submit"
        [ngClass]="{ disabled: form.invalid, 'disbled:hover': form.invalid }"
        [disabled]="form.invalid"
      >
        Save 
      </button>
      <!-- *ngIf="userData && isEdit" -->
      <button class="habit-form-btn" type="button" (click)="onClose()">
        <!-- (click)="onCancel()" -->
        Cancel
      </button>
    </div>
  </form>
</div>
