/* You can add global styles to this file, and also import other style files */

/* background-color */
// $bc-lightgray: #d3d3d3;
// $bc-purple: #512da7;
// $bc-white: #fff;
$bc-green: #5a8100;
$bc-orange: #ff6c02;
$bc-yellow: #ffb400;
$bc-beige: #fff9e9;
$bc-gray: #C4C4C4;

/* text */
$txt-c-black: #000;
$txt-c-white: #fff;
$txt-c-yellow: #FFDC77;
$txt-c-darkblue: #0000FF;
// $txt-c-grey: #808080;
// $txt-c-red: #ff0000;
// $txt-c-lightyellow: #ffd765;
// $txt-c-lightpurple: #563b98;

/* border */
// $b-c-white: #fff;
// $b-c-lightpurple: #563b98;
// $b-c-lightgray: #dbdbdb;
// $b-c-purple: #512da7;
