/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "Playball-Regular";
  src: url("./assets/fonts/Playball-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

p {
  margin: 0;
}

/* background-color */
// $bc-lightgray: #d3d3d3;
// $bc-purple: #512da7;
// $bc-white: #fff;
$bc-dark-blue: #141d2d;
$bc-dark-goldenrod: #b8860b;
$bc-goldenrod:#daa520;
$bc-table: repeating-linear-gradient(45deg, black, transparent 100px);
$bc-btn-orange: #ffa500;
$bc-green: #5a8100;
$bc-orange: #ff6c02;
$bc-yellow: #ffb400;
$bc-beige: #fff9e9;
$bc-gray: #c4c4c4;
$bc-dark-gray: #999999;
$bc-white: #fff;

/* text */
$txt-c-black: #000;
$txt-c-white: #fff;
$txt-c-btn-orange: $bc-btn-orange;
$txt-c-input-placeholder: $bc-dark-goldenrod;
$txt-c-yellow: #ffdc77;
$txt-c-darkblue: #0000ff;
$txt-c-red: #f60909f5;
$txt-c-crimson: #ed143d;
$txt-c-beige: $bc-beige;
$txt-c-orange: $bc-orange;
// $txt-c-grey: #808080;
// $txt-c-red: #ff0000;
// $txt-c-lightyellow: #ffd765;
// $txt-c-lightpurple: #563b98;

/* border */
$b-c-black: #000;
// $b-c-lightpurple: #563b98;
// $b-c-lightgray: #dbdbdb;
// $b-c-purple: #512da7;
/* shadow */
$sh-c-dark-orange: $bc-dark-goldenrod;
$sh-c-black: #000;



html, body { height: 100%; }
body { margin: 0; font-family: "Roboto", "Helvetica Neue", sans-serif; }

::ng-deep{
  button, .mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    // font-size: 14px;
    // font-weight: 500;
}
}

::ng-deep{
  .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: $bc-btn-orange;
  }
  .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: $bc-btn-orange; 
  }  
  .mat-progress-spinner circle, .mat-spinner circle {
    stroke: $bc-btn-orange;
}
}
