<!-- <p>home-page works!</p> -->
<div class="home-container" id="home-container">
  <div class="top-five">
    <span>Top 5 Habits</span>
  </div>
  <swiper
    [spaceBetween]="30"
    [centeredSlides]="true"
    [loop]="true"
    [autoplay]="{
      delay: 2500,
      disableOnInteraction: false
    }"
    [pagination]="{
      clickable: true
    }"
    [navigation]="true"
    class="mySwiper"
  >
    <ng-template swiperSlide>
      <div class="one"></div>
      <p class="top-habit-title water-p">Drink<br />lots<br />of water</p>
    </ng-template>
    <ng-template swiperSlide>
      <div class="two"></div>
      <p class="top-habit-title deadline-p">Set<br />a<br />deadline</p>
    </ng-template>
    <ng-template swiperSlide>
      <div class="three"></div>
      <p class="top-habit-title breakfast-p">
        Start off<br />with<br />a breakfast
      </p>
    </ng-template>
    <ng-template swiperSlide>
      <div class="four"></div>
      <div>
        <p class="top-habit-title food-p">
          Eat<br />whole,<br />real<br />foods
        </p>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="five"></div>
      <div>
        <p class="top-habit-title consistent-p">Remain<br />consistent</p>
      </div>
    </ng-template>
  </swiper>
</div>
<section class="about" id="about-section">
  <h1 class="about-title">About Us</h1>
  <div class="about-block">
    <div class="about-text">
      <p>
        <strong>MyHabits</strong> application is quite simple and intuitively
        designed on Angular framework. It makes keeping track of your habits
        simple and easy to change. One can add habits from a bunch or create
        your own habits. You can also easily change details of the habit to fit
        it to your own needs.
      </p>
      <p><br /></p>
      <p>
        Overeating and poor eating habits are unfortunate cornerstones of our
        culture, which is why it is so difficult to make good daily diet
        decisions. Unfortunately, another trending cornerstone in our culture is
        our obsession with quick diet fixes: eliminate gluten, boost protein,
        eat like a caveman... It’s no wonder that despite all our advances in
        nutrition and medical research, people are still confused about what
        it’s like to eat normally and nutritiously. And that’s a shame because
        eating healthfully is essential for living a healthy, balanced, happy
        life.
      </p>
      <p><br /></p>
      <p>
        Making a plan will give you the focus and direction you need to achieve
        your goals. It’s important to think about exactly what it is you want to
        achieve and then write it down.
      </p>
      <p><br /></p>
      <p>
        In order to succeed, we must understand that motivation is not
        automatic. Motives change weekly, if not daily. But that’s okay. As long
        as we find something that motivates us towards getting fit and eating
        right, it doesn’t matter what it is
      </p>
    </div>
    <div class="about-img">
      <img src="../../assets/images/cyclist.jpg" />
    </div>
  </div>

  <h2 class="about-title-you">Create better you</h2>
  <div class="about-block">
    <div class="about-img">
      <img src="../../assets/images/running.png" />
    </div>
    <div class="about-text">
      <strong>Here are some tips for forming new healthy habits.</strong>
      <p><br /></p>
      <p>
        <strong>Stack your habits.</strong> The best way to form a new habit is
        to tie it to an existing habit, experts say. Look for patterns in your
        day and think about how you can use existing habits to create new,
        positive ones. For many of us, our morning routine is our strongest
        routine, so that’s a great place to stack on a new habit. A morning cup
        of coffee, for example, can create a great opportunity to start a new
        one-minute meditation practice.
      </p>
      <p><br /></p>
      <p>
        <strong>Start small.</strong> Big behavior changes require a high level
        of motivation that often can’t be sustained. He suggests starting with
        tiny habits to make the new habit as easy as possible in the beginning.
        Taking a daily short walk, for example, could be the beginning of an
        exercise habit. Or, putting an apple in your bag every day could lead to
        better eating habits.
      </p>

      <p><br /></p>
      <p>
        <strong>Do it every day.</strong> British researchers studied how people
        form habits in the real world, asking participants to choose a simple
        habit they wanted to form, like drinking water at lunch or taking a walk
        before dinner.
      </p>
    </div>
  </div>
</section>
<div #upArrow class="up-arrow">
  <a href="#main-header"><i class="fas fa-arrow-circle-up"></i></a>
</div>
