@import "../../styles.scss";

.home-container {
  display: flex;
  justify-content: center;
  .top-five {
    width: 400px;
    max-width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bc-orange;
    color: $txt-c-yellow;
    border-radius: 15px;
    box-shadow: 3px 3px 10px $sh-c-black;

    span {
      font-size: 48px;
    }
  }
}
