<!-- <p>home-page works!</p> -->
<div class="home-container" id="home-container">
  <div class="top-five">
    <span>Top 5 Habits</span>
  </div>
  <div class="habits-items">
    <!-- app-card -->
  </div>

  
</div>
<section class="about" id="about-section">
  <h1 class="about-title">About Us</h1>
  <div class="about-block">
    <div class="about-text">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus saepe natus ipsa incidunt atque nulla
      assumenda aliquam praesentium nisi quae, repudiandae voluptatibus voluptatem autem ratione et impedit earum beatae
      exercitationem quasi suscipit? Nulla, impedit corrupti? Aperiam impedit officia quasi quos aliquam dolorum fugit
      debitis accusantium! Exercitationem eos, suscipit nobis aspernatur incidunt temporibus culpa assumenda molestiae,
      consequuntur praesentium eum odit? Possimus, corporis! Dolore facere a voluptas quae in, similique nobis
      blanditiis totam adipisci, cum excepturi dolor quos ab dolorum nam fuga accusamus sint recusandae nostrum pariatur
      nesciunt commodi! Deserunt laboriosam ad voluptatibus aperiam et natus omnis perspiciatis nisi quasi, porro sequi!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ut ipsum accusantium magnam minima neque aliquid
      voluptate harum voluptatum sapiente exercitationem, dolor perferendis autem consectetur accusamus beatae nam. Eius
      tempora soluta enim eaque quam debitis ducimus? Error impedit odio quia sapiente minima similique quam iusto
      explicabo nemo. Culpa aperiam iusto eligendi aspernatur ex ea reprehenderit unde eaque iure obcaecati! Ab
      molestias dolorem magni, amet placeat eum dolorum commodi quia iure iusto. Nihil explicabo blanditiis nisi libero
      sit? Ducimus, facere officiis sit saepe amet deserunt obcaecati cum nostrum ea assumenda id eum totam harum? Illo
      ex veritatis inventore itaque repudiandae aliquid modi id nostrum commodi magnam quaerat corrupti, excepturi
      incidunt quas vitae atque accusantium sed. Vel, quia fugit. Autem rerum placeat atque unde consectetur id
      praesentium exercitationem quas dolorem dolores possimus ipsum nesciunt aperiam cupiditate nobis nihil magnam
      quasi ipsa molestias quibusdam aliquid iure, debitis excepturi fugit. Similique magni est maiores enim nesciunt
      blanditiis minima unde, voluptatibus repudiandae, non qui vel esse amet, vitae magnam quod eaque autem mollitia
      consectetur possimus in quaerat labore quisquam sit. Laudantium eveniet ut asperiores non doloribus numquam itaque
      repellat ab possimus, necessitatibus iure, similique quos dolore animi quam distinctio! Sit eligendi itaque labore
      dolorem laborum.
    </div>
    <div class="about-img">
      <img src="../../assets/images/cyclist.jpg">
    </div>
  </div>

  <h2 class="about-title">Create better you</h2>
  <div class="about-block">
    <div class="about-img">
      <img src="../../assets/images/cyclist.jpg">
    </div>
    <div class="about-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus nemo cum mollitia officia architecto
      aperiam consectetur dolorem quibusdam commodi. Aut quis quam ipsam at molestiae fugit, fugiat quo perspiciatis
      placeat recusandae voluptate quaerat harum quod illo fuga non nihil aliquam alias pariatur hic corrupti labore.
      Ipsa eius nesciunt possimus nam libero. Repellendus soluta minus ratione dolorum, ducimus maiores inventore
      voluptatibus corporis enim libero corrupti! Optio, labore provident quam voluptate perferendis delectus, error
      saepe qui nostrum officiis sunt sequi voluptatum? Sit quis corporis suscipit, possimus dolor exercitationem
      doloremque, nihil maxime mollitia, aut minus provident illo quaerat ex. Iure adipisci soluta magnam?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ut ipsum accusantium magnam minima neque aliquid
      voluptate harum voluptatum sapiente exercitationem, dolor perferendis autem consectetur accusamus beatae nam. Eius
      tempora soluta enim eaque quam debitis ducimus? Error impedit odio quia sapiente minima similique quam iusto
      explicabo nemo. Culpa aperiam iusto eligendi aspernatur ex ea reprehenderit unde eaque iure obcaecati! Ab
      molestias dolorem magni, amet placeat eum dolorum commodi quia iure iusto. Nihil explicabo blanditiis nisi libero
      sit? Ducimus, facere officiis sit saepe amet deserunt obcaecati cum nostrum ea assumenda id eum totam harum? Illo
      ex veritatis inventore itaque repudiandae aliquid modi id nostrum commodi magnam quaerat corrupti, excepturi
      incidunt quas vitae atque accusantium sed. Vel, quia fugit. Autem rerum placeat atque unde consectetur id
      praesentium exercitationem quas dolorem dolores possimus ipsum nesciunt aperiam cupiditate nobis nihil magnam
      quasi ipsa molestias quibusdam aliquid iure, debitis excepturi fugit. Similique magni est maiores enim nesciunt
      blanditiis minima unde, voluptatibus repudiandae, non qui vel esse amet, vitae magnam quod eaque autem mollitia
      consectetur possimus in quaerat labore quisquam sit. Laudantium eveniet ut asperiores non doloribus numquam itaque
      repellat ab possimus, necessitatibus iure, similique quos dolore animi quam distinctio! Sit eligendi itaque labore
      dolorem laborum.
    </div>
  </div>
</section>
<div #upArrow class="up-arrow">
  <a href="#main-header"><i class="fas fa-arrow-circle-up"></i></a>
</div>
