<div class="profile-wrapper">
  <app-user-form></app-user-form>
  <section class="profile">
    <h3>Account Information</h3>
    <ul class="user-info">
      <li><span>First Name: </span>{{ userData.firstName }}</li>
      <li><span>Last Name: </span>{{ userData.lastName }}</li>
      <li><span>Email: </span>{{ userData.email }}</li>
      <li><span>Location: </span>{{ userData.location }}</li>
      <li><span>Birth Date: </span>{{ userData.birthDate }}</li>
      <li><span>Gender: </span>{{ userData.gender }}</li>
    </ul>
    <button>Edit</button>
  </section>
</div>
