@import '../../../styles.scss';

.profile-wrapper {
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  .profile {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
    color: $txt-c-white;
    background-color: transparent;
    border: 3px solid $bc-btn-orange;
    border-radius: 25px;
    box-shadow: 5px 5px 40px $sh-c-dark-orange;
    .user-info {
      padding: 10px;
      list-style: none;
    }
  }
}
